body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.header1{
    color: white;
    font-size: 3em;
    text-shadow: 10px 2px 5px black;
}